begin options
{% if save_flows is defined %}  save_flows
{% endif %}
{%- if alternative_cell_averaging is defined %}  alternative_cell_averaging {{alternative_cell_averaging}}
{% endif %}
{%- if thickstrt is defined %}  thickstrt
{% endif %}
{%- if variablecv is defined %}  variablecv{% if dewatered is defined %} dewatered{% endif %}
{% endif %}
{%- if perched is defined %}  perched
{% endif %}
{%- if rewet_record is defined %}  rewet wetfct {{wetfct}} iwetit {{iwetit}} ihdwet {{ihdwet}}
{% endif %}
{%- if xt3doptions is defined %}  xt3d{% if rhs is defined %} rhs{% endif %}
{% endif %}
{%- if save_specific_discharge is defined %}  save_specific_discharge
{% endif -%}
end options

begin griddata
  icelltype{% if icelltype_layered %} layered{% endif %}
{%- set v = icelltype %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
  k{% if k_layered %} layered{% endif %}
{%- set v = k %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- if k22 is defined %}
  k22{% if k22_layered %} layered{% endif %}
{%- set v = k22 %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- endif %}
{%- if k33 is defined %}
  k33{% if k33_layered %} layered{% endif %}
{%- set v = k33 %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- endif %}
{%- if angle1 is defined %}
  angle1{% if angle1_layered %} layered{% endif %}
{%- set v = angle1 %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- endif -%}
{%- if angle2 is defined %}
  angle2{% if angle2_layered %} layered{% endif %}
{%- set v = angle2 %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- endif -%}
{%- if angle3 is defined %}
  angle3{% if angle3_layered %} layered{% endif %}
{%- set v = angle3 %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{%- endif -%}
{%- if wetdry is defined %}
  wetdry{% if wetdry_layered %} layered{% endif %}
{%- set v = wetdry %}
{%- if v[0] == 0 %}
    constant {{v[1]}}
{%- else %}
    open/close {{v[1]}}{% if v[0] > 1 %} (binary){% endif %}{% if v[0] > 2 %} {{v[2]}} {{v[3]}}{% endif %}
{%- endif %}
{% endif %}
end griddata
